/**
Color File
**/

/** Pallete **/
$white: #FFFFFF;
$black: #000000;

/** backgrounds **/
$white-smoke: #f2f2f2;

/** text color **/
$asher: #555f61;
$md-gray: #dddddd;
$steelblue: #5589bb;
$dark-slate-gray: #2a3140;

/** alerts **/
$alert-required: #990000;
$sage-green: 97d281;

/** Site Specific **/
$site-background-color: $white-smoke;
